{% load static %}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{sistema_descricao}}" />
    <meta name="author" content="ARUS DIGITAL TECH" />
    <title>{{sistema_nome}}</title>
    <link rel="shortcut icon" href="{{sistema_logo.url}}" type="image/x-icon">
    <link href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.3.4/b-3.2.5/b-colvis-3.2.5/b-html5-3.2.5/b-print-3.2.5/cr-2.1.1/r-3.0.6/datatables.min.css" rel="stylesheet" integrity="sha384-18M9a2sRD1+YBO67rmbESvE/m+ZmA+xZZ1ozTA0/zMn+wPEKSxMA+i4+gR/MC+xs" crossorigin="anonymous">
    <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>