<!-- MODAL DE CONFIRMAÇÃO -->

<div class="modal fade" id="modalConfirmacao" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja salvar os dados?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="confirmarSalvar">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL DE EXCLUSÃO -->

<div class="modal fade" id="modalExclusao" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir os dados?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" id="confirmarExclusao">Confirmar</a>
            </div>
        </div>
    </div>
</div>

<!-- MODAL DE COMUNICAÇÃO DE MOVIMENTAÇÃO -->

<div class="modal modal-lg fade" id="modalMovimentacao" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dados da movimentação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body row" id="modalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary ms-auto" id="imprimir-movimentacao">Imprimir</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL DE MESSAGES -->

{% if messages %}
{% for message in messages %}
<div class="modal fade" id="modalMensagens" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="d-flex gap-5 flex-column justify-content-evenly align-items-center modal-body bg-{{message.tags}} position-relative">
                <div>
                    {% if message.tags == 'success' %}
                        <i class="icone-modal fa-solid fa-circle-check"></i>
                    {% elif message.tags == 'warning' %}
                        <i class="icone-modal fa-solid fa-circle-exclamation"></i>
                    {% elif message.tags == 'danger' %}
                        <i class="icone-modal fa-solid fa-triangle-exclamation"></i>
                    {% else %}
                        <i class="icone-modal fa-solid fa-circle-info"></i>
                    {% endif %}
                </div>
                <div class="fs-3 text-light text-center">{{message}}</div>
                <div class="bg-{{message.tags}}">
                    <button type="button" class="btn btn-{{message.tags}} text-light position-absolute top-0 end-0" data-bs-dismiss="modal"><i class="fs-3 fa-solid fa-square-xmark"></i></button>
                </div>
            </div>
            
        </div>
    </div>
</div>
<script>
    const modalMsg = document.getElementById('modalMensagens');
    if (modalMsg) {
        const modalMensagens =  new bootstrap.Modal(modalMsg);
            modalMensagens.show();
    }
</script>
{% endfor %}
{% endif %}