<!-- MODAL DE CONFIRMAÇÃO -->

<div class="modal fade" id="modalConfirmacao" tabindex="-1" aria-hidden="false" aria-modal="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja salvar os dados?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="confirmarSalvar">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL DE EXCLUSÃO -->

<div class="modal fade" id="modalExclusao" tabindex="-1" aria-hidden="false" aria-modal="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir os dados?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" id="confirmarExclusao">Confirmar</a>
            </div>
        </div>
    </div>
</div>