{% extends "base.html" %}
{% block content %}

<div class="container-fluid px-4">
    <h1 class="mt-4">Ficha do professor</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a href="{% url "cadastros:professores" %}" class="text-decoration-none">Professores</a></li>
        <li class="breadcrumb-item active"><a href="{% url "cadastros:ficha-professor" professor.pk %}" class="text-decoration-none">Ficha de {{professor.user.get_full_name}}</a></li>
    </ol>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card" id="card-principal">
                <div class="card-header">
                    <i class="fas fa-user-pen me-1"></i>
                    Ficha de - {{professor.user.get_full_name}} - Matrícula {{professor.matricula}} - Nascido em {{professor.nascimento|date:"d/m/Y"}}
                </div>
                <div><a class="btn btn-primary btn-block m-2 no-print" href="{% url "cadastros:imprimir-ficha-professor" professor.pk %}" target="_blank">Imprimir</a></div>
                <div class="card-body p-4 row">
                    <div class="col-12"><h3>Dados pessoais</h3></div>
                    <hr class="mt-4 border border-secondary border-3">

                    <div class="border-bottom col-sm-8 p-1"><strong>Nome:</strong> {{professor.user.get_full_name}}</div>
                    <div class="border-bottom col-sm-4 p-1"><strong>Matrícula:</strong> {{professor.matricula}}</div>
                    <div class="border-bottom col-sm-4 p-1"><strong>R.G.:</strong> {{professor.rg}}</div>
                    <div class="border-bottom col-sm-4 p-1"><strong>C.P.F.:</strong> {{professor.user.cpf}}</div>
                    <div class="border-bottom col-sm-4 p-1"><strong>Nascimento:</strong> {{professor.nascimento|date:"d/m/Y"}}</div>

                    <hr class="mt-4 border border-secondary border-3">
                    <div class="col-12"><h3>Localização/Contato</h3></div>
                    <hr class="mt-4 border border-secondary border-3">

                    <div class="border-bottom col-6 p-1"><strong>E-mail:</strong> {{professor.user.email}}</div>
                    <div class="border-bottom col-6 p-1"><strong>Telefone:</strong>{% if professor.telefone %} {{professor.telefone}} <a class="btn btn-success p-1" href="https://wa.me/{{professor.telefone}}" target="_blank"><i class="fa-brands fa-whatsapp"></i> Enviar mensagem</a>{% endif %}</div>
                    <div class="border-bottom col-12 p-1"><strong>Endereço:</strong> {{professor.endereco}}</div>

                    <hr class="mt-4 border border-secondary border-3">
                    <div class="col-12"><h3>Informações gerais</h3></div>
                    <hr class="mt-4 border border-secondary border-3">

                    <div class="border-bottom col-6 p-1"><strong>Função:</strong> {{professor.funcao}}</div>
                    <div class="border-bottom col-6 p-1"><strong>Disciplina:</strong> {{professor.disciplina}}</div>
                    
                    <div class="border-bottom col-12 p-1"><strong>Observações:</strong> {{professor.observacoes}}</div>

                    <hr class="mt-4 border border-secondary border-3">
                    <div class="col-12"><h3>Atribuições</h3></div>
                    <hr class="mt-4 border border-secondary border-3">

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Sala</th>
                                    <th>Ano</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dado in atribuicoes %}
                                <tr>
                                    <td>{{dado.sala}}</td>
                                    <td>{{dado.sala.ano}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <hr class="mt-4 border border-secondary border-3">
                    <div class="col-12"><h3>Faltas de {{professor}}</h3></div>
                    <hr class="mt-4 border border-secondary border-3">

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Período</th>
                                    <th>Qtd.</th>
                                    <th>Tipo</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dado in frequencia %}
                                <tr>
                                    <td>{% if dado.data_inicial == dado.data_final %}{{dado.data_inicial}}{% else %}{{dado.data_inicial}} a {{dado.data_final}}{% endif %}</td>
                                    <td>{% for chave, valor in periodos %}{% if dado.periodo == chave %}{{valor}}{% endif %}{% endfor %}</td>
                                    <td>{{dado.quantidade}}</td>
                                    <td>{% for chave, valor in tipos %}{% if dado.tipo == chave %}{{valor}}{% endif %}{% endfor %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <hr class="mt-4 border border-secondary border-3">
                    <div class="col-12"><h3>Quantidade de faltas de {{professor}}</h3></div>
                    <hr class="mt-4 border border-secondary border-3">

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Tipo</th>
                                    <th>Qtd.</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dado in qtd_faltas %}
                                <tr>
                                    <td>{% for chave, valor in tipos %}{% if dado.tipo == chave %}{{valor}}{% endif %}{% endfor %}</td>
                                    <td>{{dado.total}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}