{% extends "base.html" %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Cadastros</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Salas</li>
    </ol>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-plus me-1"></i>
                    Cadastro de sala
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label for="numero" class="form-label">Número</label>
                                <div class="mb-3 mb-md-0">
                                    <input class="form-control" id="numero" type="number" />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <label for="nome" class="form-label">Nome</label>
                                <div class="mb-3 mb-md-0">
                                    <input class="form-control" id="nome" type="text" placeholder="Insira o nome da sala" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="ano" class="form-label">Ano</label>
                                <div class="mb-3 mb-md-0">
                                    <input class="form-control" id="ano" type="number" />
                                </div>
                            </div>
                        </div>
                        
                        <div class="mt-4 mb-0">
                            <div><button class="btn btn-primary btn-block">Salvar dados</button></div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a>* Confira os campos necessários para salvar os dados</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Salas registradas
        </div>
        
        <div class="card-body">
            
        </div>
    </div>
</div>
{% endblock %}
