{% extends "base.html" %}
{% block title %}Atribuições de Professores{% endblock title %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Movimentações</h1>

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a href="{% url "movimentacoes:atribuicoes" %}" class="text-decoration-none">Atribuição de Professores</a></li>
    </ol>

    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-plus me-1"></i>
                    Atribuição de Professores(as)
                </div>
                <div class="card-body">
                    <form name="form-atribuicao" method="POST">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="professor" class="form-label">Professor(a)</label>
                                <div class="mb-3">
                                    <input class="form-control" id="professor" name="professor" type="text" hidden />
                                    <input class="form-control" id="professor-visual" type="text" placeholder="Selecione aqui o(a) Professor(a)" readonly />
                                    
                                    <!-- MODAL DE PROFESSORES -->

                                    <div class="modal modal-lg fade" id="modalSelecionarProfessor" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Selecione o Professor(a)</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                </div>
                                                <div class="modal-body row" id="modalBody">
                                                    {% if professores %}
                                                    <table class="sem-botoes sem-info sem-qtd-por-paginas" id="datatablesSimple">
                                                        <thead>
                                                            <tr>
                                                                <th>Nome</th>
                                                                <th>Ações</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for professor in professores %}
                                                            <tr>
                                                                <td>
                                                                    {{professor.user.get_full_name | default_if_none:""}}
                                                                </td>
                                                                <td>
                                                                    <a class="btn btn-sm btn-warning btn-block" onclick="selecionaProfessor('{{professor.pk}}', '{{professor.user.get_full_name}}')">Selecionar</a>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                    
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="sala" class="form-label">Sala</label>
                                <div class="mb-3">
                                    <input class="form-control" id="sala" name="sala" type="text" hidden />
                                    <input class="form-control" id="sala-visual" type="text" placeholder="Selecione aqui a sala" readonly />
                                    
                                    <!-- MODAL DE SELECIONAR SALAS -->

                                    <div class="modal modal-lg fade" id="modalSelecionarSala" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Selecione a sala</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                </div>
                                                <div class="modal-body row" id="modalBody">
                                                    {% if salas %}
                                                    <table class="sem-botoes sem-info sem-qtd-por-paginas" id="datatablesSimple">
                                                        <thead>
                                                            <tr>
                                                                <th>Nome</th>
                                                                <th>Ações</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for sala in salas %}
                                                            <tr>
                                                                <td>
                                                                    {{sala | default_if_none:""}} - {{sala.ano | default_if_none:""}}
                                                                </td>
                                                                <td>
                                                                    <a class="btn btn-sm btn-warning btn-block" onclick="selecionaSala('{{sala.pk}}', '{{sala}}')">Selecionar</a>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="mt-4 mb-0">
                            <div><button type="submit" class="btn btn-primary btn-block">Salvar dados</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Atribuições
                </div>
            
                {% if atribuicoes %}
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Professor(a)</th>
                                <th>Sala/Ano</th>
                                <th class="no-print">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for atribuicao in atribuicoes %}
                            <tr>
                                <td>{{atribuicao.professor | default_if_none:""}}</td>
                                <td>{{atribuicao.sala | default_if_none:"Sala excluída"}}</td>
                                <td class="no-print">
                                    <a href="{% url "movimentacoes:excluir-atribuicao" atribuicao.pk %}" class="btn btn-sm btn-danger btn-block btn-excluir">Excluir</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    const professores = [];
    const salas = []

    {% for p in professores %}
        professores.push({
            professor_id: "{{p.pk}}",
            professor_nome: "{{p.user.get_full_name}}"
        },);
    {% endfor %}

    {% for s in salas %}
        salas.push({
            sala_id: "{{s.pk}}",
            sala_nome: "{{s}}",
        },);
    {% endfor %}

    const professor = document.getElementById('professor');
    const professorVisual = document.getElementById('professor-visual');
    const sala = document.getElementById('sala');
    const salaVisual = document.getElementById('sala-visual');
    const modalSelecionarProfessor = document.getElementById('modalSelecionarProfessor');
    const modalProfessor = new bootstrap.Modal(modalSelecionarProfessor);
    const modalSelecionarSala = document.getElementById('modalSelecionarSala');
    const modalSala = new bootstrap.Modal(modalSelecionarSala);

    professorVisual.onclick = () => {
        modalProfessor.show();
    }

    salaVisual.onclick = () => {
        modalSala.show();
    }

    function selecionaProfessor (professor_id, professor_nome) {
        professor.value = professor_id;
        professorVisual.value = professor_nome;
        modalProfessor.hide();
    }

    function selecionaSala (sala_id, sala_nome) {
        sala.value = sala_id;
        salaVisual.value = sala_nome;
        modalSala.hide();
    }

    const form = document.forms['form-atribuicao'];

    if (form) {
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            const erros = document.querySelectorAll('.erro').forEach((e) => e.remove());

            let temErro = false;

            if (professor.value == '') {
                console.log('professor');
                paragrafoErro(professorVisual, "É necessário selecionar um professor");
                temErro = true;
                professorVisual.focus();
            }

            if (sala.value == '') {
                paragrafoErro(salaVisual, "É necessário selecionar uma sala");
                temErro = true;
                salaVisual.focus();
            }

            if (!temErro) {
                const modalConfirmacaoAtribuicao = document.getElementById('modalConfirmacao');
                const modalAtribuicao = new bootstrap.Modal(modalConfirmacaoAtribuicao);

                modalAtribuicao.show();
                const botaoConfirmacaoAtribuicao = document.getElementById('confirmarSalvar');
                if (botaoConfirmacaoAtribuicao) {
                    botaoConfirmacaoAtribuicao.onclick = () => form.submit();
                }
            };
        });
    };

    function paragrafoErro (campo, mensagem) {
        let p = document.createElement('p');
        p.classList.add('text-danger', 'mt-1', 'erro');
        p.innerText = mensagem;
        campo.insertAdjacentElement('afterend', p);
    }

    const botoesExclusao = document.querySelectorAll('.btn-excluir').forEach((botao) => {
        botao.addEventListener('click', (event) => {
            event.preventDefault();

            const modalExclusao = document.getElementById('modalExclusao');
            const modalConfirmarExclusao = new bootstrap.Modal(modalExclusao);
            modalConfirmarExclusao.show();

            const botaoConfirmarExclusao = document.getElementById('confirmarExclusao');
            if (botaoConfirmarExclusao) {
                botaoConfirmarExclusao.onclick = () => {
                    window.location.href = event.target.href;
                };
            }
        });
    });
</script>
{% endblock %}
