{% extends "base.html" %}
{% block title %}Ficha das Turmas{% endblock title %}

{% block content %}
<script>
    async function alteraNumeroAluno(aluno_pk, value) {
        const resp = await fetch(`/movimentacoes/altera-numero-aluno/${aluno_pk}/${value}/`);
        console.log(resp.ok);
    }
</script>
<div class="container-fluid px-4">
    <h1 class="mt-4">Gestão Escolar</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a href="{% url "movimentacoes:turmas" %}" class="text-decoration-none">Turmas</a></li>
    </ol>
    
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            {{alunos_turma.first.sala}}
        </div>
        
        <div class="card-body">
            {% if alunos_turma %}
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Número</th>
                            <th>Nome</th>
                            <th>RA</th>
                            <th>Nascimento</th>
                            <th>Situação</th>
                            <th class="no-print">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for aluno in alunos_turma %}
                        <tr {% if aluno.status == 'Transferido' %}class="bg-danger"{% elif aluno.status == 'Remanejado' %}class="bg-warning"{% endif %}>
                            <td {% if aluno.status == 'Transferido' %}class="text-light"{% endif %}>
                                <input type="number" class="form-control form-control-sm w-auto" value="{{aluno.numero_aluno}}" onchange="alteraNumeroAluno('{{aluno.pk}}', value)">
                                <span class="d-none">{{aluno.numero_aluno}}</span>
                            </td>
                            <td {% if aluno.status == 'Transferido' %}class="text-light"{% endif %}>{{aluno.aluno}}</td>
                            <td {% if aluno.status == 'Transferido' %}class="text-light"{% endif %}>{{aluno.aluno.ra}}</td>
                            <td {% if aluno.status == 'Transferido' %}class="text-light"{% endif %}>{{aluno.aluno.nascimento}}</td>
                            <td {% if aluno.status == 'Transferido' %}class="text-light"{% endif %}>{{aluno.status}}</td>
                            <td>
                                <a href="{% url "movimentacoes:excluir-turma" aluno.pk %}" class="btn btn-sm btn-danger btn-block btn-excluir">Excluir</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

