{% extends "base.html" %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Gestão Escolar</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a href="{% url "movimentacoes:movimentacoes" %}" class="text-decoration-none">Movimentações</a></li>
        {% if matricula %}
            <li class="breadcrumb-item active"><a href="{% url "movimentacoes:matricula" %}" class="text-decoration-none">Matrícula</a></li>
        {% elif remanejamento %}
            <li class="breadcrumb-item active"><a href="{% url "movimentacoes:remanejamento" %}" class="text-decoration-none">Remanejamento</a></li>
        {% elif transferencia %}
            <li class="breadcrumb-item active"><a href="{% url "movimentacoes:transferencia" %}" class="text-decoration-none">Transferência</a></li>
        {% endif %}
    </ol>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-plus me-1"></i>
                    {% if matricula %}
                    Matrícula de aluno(a)
                    {% elif remanejamento %}
                    Remanejamento de aluno(a)
                    {% elif transferencia %}
                    Transferência de aluno(a)
                    {% endif %}
                </div>
                <div class="card-body">
                    <a href="{% if matricula %}{% url "movimentacoes:matricula" %}{% elif remanejamento %}{% url "movimentacoes:remanejamento" %}{% elif transferencia %}{% url "movimentacoes:transferencia" %}{% endif %}" class="mb-4 btn btn-primary btn-block">Limpar campos</a>
                    <form name="form-movimentacao" method="POST">
                        {% csrf_token %}
                        <div class="row mb-3">

                            <div class="col-md-9">
                                <label for="aluno" class="form-label">Aluno(a)</label>
                                <input class="form-control" type="text" id="aluno_visual" placeholder="Selecione o aluno disponíveis abaixo" readonly required />
                                <input class="form-control" type="text" id="aluno" name="aluno" hidden />
                            </div>

                            <div class="col-md-3">
                                <label for="data" class="form-label">Data</label>
                                <div class="mb-4">
                                    <input class="form-control" type="date" id="data" name="data" value="{% now "Y-m-d" %}" />
                                </div>
                            </div>

                            {% if matricula %}
                            <div class="col-md-6">
                                <label for="origem" class="form-label">Origem</label>
                                <input class="form-control" type="text" id="origem" name="origem" />
                            </div>
                            {% else %}
                            <div class="col-md-6">
                                <label for="origem" class="form-label">Origem</label>
                                <input class="form-control" type="text" id="origem_input" name="origem_input" readonly />
                                <input class="form-control" type="text" id="origem" name="origem" hidden />
                            </div>
                            {% endif %}
                            
                            {% if matricula %}
                            <div class="col-md-6">
                                <label for="destino" class="form-label">Destino</label>
                                <div class="mb-4">
                                    <select class="form-select" id="destino" name="destino">
                                        {% for sala in salas %}
                                        <option value="{{sala.pk}}">{{sala}} {{sala.ano}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {% elif remanejamento %}
                            <div class="col-md-6">
                                <label for="destino" class="form-label">Destino</label>
                                <div class="mb-4">
                                    <select class="form-select" id="destino" name="destino" >
                                        <option>Selecione a sala</option>
                                        {% for sala in salas %}
                                        <option value="{{sala.pk}}">{{sala}} {{sala.ano}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {% elif transferencia %}
                            <div class="col-md-6">
                                <label for="destino" class="form-label">Destino</label>
                                <input class="form-control" type="text" id="destino" name="destino" />
                            </div>
                            {% endif %}
                            
                        </div>

                        <!-- MODAL DE SELEÇÃO DE ALUNOS -->

                        <div class="modal modal-lg fade" id="modalSelecioneAluno" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Selecione o aluno(a)</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body row" id="modalBody">
                                        {% if total_alunos %}
                                        <table class="sem-botoes sem-info sem-qtd-por-paginas" id="datatablesSimple">
                                            <thead>
                                                <tr>
                                                    <th>Aluno</th>
                                                    <th>R.A.</th>
                                                    <th>Sala</th>
                                                    <th>Ações</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for aluno in total_alunos %}
                                                <tr>
                                                    <td>{{aluno.nome}}</td>
                                                    <td>{{aluno.ra}}</td>
                                                    <td>
                                                        {% if aluno.turmas.all %}
                                                            {% for turma in aluno.turmas.all %}
                                                            {% if turma.status == 'Ativo' %}
                                                            {{turma.sala}}
                                                            {% endif %}
                                                            {% endfor %}
                                                        {% else %}
                                                        Sem sala
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-sm btn-warning btn-block" onclick="alunoEscolhido('{{aluno.pk}}', '{{aluno.nome}}'{% if aluno.turmas.first %}, '{{aluno.turmas.first.sala.pk}}', '{{aluno.turmas.first.sala}}', '{{aluno.turmas.first.sala.serie}}', '{{aluno.turmas.first.sala.classe}}'{% endif %})">
                                                            Selecionar aluno(a)
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% else %}
                                        <p>Não foram encontrados alunos(as) para está operação !</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-2 mb-0">
                            <div><button type="submit" class="btn btn-primary btn-block">Salvar dados</button></div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a>* Confira os campos necessários para salvar os dados</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const matricula = "{{matricula}}";
    const remanejamento = "{{remanejamento}}";
    const transferencia = "{{transferencia}}";

    const modalSelecioneAluno = document.getElementById('modalSelecioneAluno');
    const modalAluno = new bootstrap.Modal(modalSelecioneAluno);
    let campoAlunoVisual = document.getElementById('aluno_visual');

    function procuraPesquisa (i) {
        const inputsModal = document.querySelectorAll('.dt-search input[type="search"]')[i];
        if (inputsModal) {
            setTimeout(() => {
                inputsModal.focus();
            }, 500);
        }
    }

    campoAlunoVisual.onclick = () => {
        modalAluno.show();
        procuraPesquisa(0);
    };


    function alunoEscolhido (id_aluno, aluno_nome, id_sala=null, sala_nome=null, serie=null, classe=null) {
        let campoAluno = document.getElementById('aluno');
        campoAlunoVisual.value=aluno_nome;
        campoAluno.value=id_aluno;
        
        if (id_sala && remanejamento == 'True') {
            let origem_input = document.getElementById('origem');
            let origem_input_visual = document.getElementById('origem_input');
            let destino_select = document.getElementById('destino');

            if (origem_input && origem_input_visual) {
                origem_input_visual.value = sala_nome;
                origem_input.value = id_sala;
            }

            if (destino_select) {
                for (let option of destino_select) {
                    if (option.value == id_sala) {
                        option.hidden = true;
                        option.disabled = true;
                    } else if (option.text[0] != serie[0]) {
                        option.hidden = true;
                        option.disabled = true;
                    } else {
                        option.hidden = false;
                        option.disabled = false;
                    }
                }
            }
        }
        
        if (id_sala && transferencia == 'True') {
            let origem_input = document.getElementById('origem');
            let origem_input_visual = document.getElementById('origem_input');

            if (origem_input && origem_input_visual) {
                origem_input_visual.value = sala_nome;
                origem_input.value = id_sala;
            }
        }

        modalAluno.hide();
    }

    const form = document.forms['form-movimentacao'];
    const aluno = form['aluno'];
    const data = form['data'];
    const origem = form['origem'];
    const destino = form['destino'];

    if (form) {
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            let erros = document.querySelectorAll('.erro').forEach((e) => e.remove());
            let temErro = false;

            if (aluno.value == '') {
                paragrafoErro(aluno, 'Selecione o aluno na tabela abaixo');
                temErro = true;
                aluno.focus();
            }

            if (data.value == '') {
                paragrafoErro(data, 'Escolha a data');
                temErro = true;
                data.focus();
            }

            if (origem.value == '') {
                paragrafoErro(origem, 'Origem obrigatória');
                temErro = true;
                origem.focus();
            }

            if (destino.value == '') {
                paragrafoErro(destino, 'Destino obrigatório');
                temErro = true;
                destino.focus();
            }

            if (!temErro) {
                const modalDiv = document.getElementById('modalConfirmacao');
                const modalConfirmacao = new bootstrap.Modal(modalDiv);
                modalConfirmacao.show();

                const botaoConfirmacao = document.getElementById('confirmarSalvar');
                if (botaoConfirmacao) {
                    botaoConfirmacao.onclick = () => {
                        botaoConfirmacao.disabled = true;
                        form.submit();
                    };
                }
            }
        });

        function paragrafoErro (campo, mensagem) {
            const p = document.createElement('p');
            p.classList.add('text-danger', 'mt-1', 'erro');
            p.innerText = mensagem;
            campo.insertAdjacentElement('afterend', p);
        }
    }
</script>
{% endblock %}
