{% extends "base.html" %}
{% block title %}Movimentações{% endblock title %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Gestão Escolar</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a href="{% url "movimentacoes:movimentacoes" %}" class="text-decoration-none">Movimentações</a></li>
    </ol>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-plus me-1"></i>
                    Registro de Movimentações
                </div>
                <div class="card-body">
                    <a href="{% url "movimentacoes:matricula" %}" class="mb-2 btn btn-primary btn-block">Matrícula</a>
                    <a href="{% url "movimentacoes:remanejamento" %}" class="mb-2 btn btn-primary btn-block">Remanejamento</a>
                    <a href="{% url "movimentacoes:transferencia" %}" class="mb-2 btn btn-primary btn-block">Transferência</a>
                </div>
            </div>
        </div>
    </div>

    {% if movimentacoes %}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Movimentações registradas
        </div>
        
        <div class="card-body">
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Tipo</th>
                            <th>Aluno</th>
                            <th>Origem</th>
                            <th>Destino</th>
                            {% if user.is_superuser %}<th class="no-print">Ações</th>{% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for movimentacao in movimentacoes %}
                        <tr>
                            <td>{{movimentacao.data}}</td>
                            <td>{{movimentacao.tipo}}</td>
                            <td>{{movimentacao.aluno}}</td>
                            <td>{% if movimentacao.origem %}{{movimentacao.origem}}{% else %}{{movimentacao.origem_input}}{% endif %}</td>
                            <td>{% if movimentacao.destino %}{{movimentacao.destino}}{% else %}{{movimentacao.destino_input}}{% endif %}</td>
                            {% if user.is_superuser %}
                            <td class="no-print">
                                <button class="btn btn-sm btn-success btn-block btn-comunicar" data-id="{{movimentacao.pk}}">Comunicar professores</button>
                                <a href="{% url "movimentacoes:excluir-movimentacao" movimentacao.pk %}" class="btn btn-sm btn-danger btn-block btn-excluir">Excluir</a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<script>
    const botoesComunicar = document.querySelectorAll('.btn-comunicar').forEach((botao) => {
        botao.addEventListener('click', (e) => {
            const modal = document.getElementById('modalMovimentacao');
            const modalComunicar = new bootstrap.Modal(modal);
            modalComunicar.show();
            const bodyModal = document.getElementById('modalBody');
            bodyModal.childNodes.forEach((e) => {
                e.remove();
            });

            async function pegaProfessores() {
                let movimentacao = await fetch(`/movimentacoes/comunicar-movimentacao/?id=${botao.dataset.id}`);
                let response = await movimentacao.json();
                console.log(response);

                // DIV DADOS MOVIMENTAÇÃO
                const div1 = document.createElement('div');
                div1.classList.add('col-sm-6');

                for (let data of response) {
                    if (data.tipo) {
                        const p = document.createElement('p');
                        p.innerText = `Tipo: ${data.tipo}`;
                        div1.appendChild(p);
                    }
                    if (data.aluno) {
                        const p = document.createElement('p');
                        p.innerText = `Aluno: ${data.aluno}`;
                        div1.appendChild(p);
                    }
                    if (data.origem) {
                        const p = document.createElement('p');
                        p.innerText = `Origem: ${data.origem}`;
                        div1.appendChild(p);
                    }
                    if (data.destino) {
                        const p = document.createElement('p');
                        p.innerText = `Destino: ${data.destino}`;
                        div1.appendChild(p);
                    }
                    if (data.data) {
                        const p = document.createElement('p');
                        p.innerText = `Data: ${data.data}`;
                        div1.appendChild(p);
                    }
                }
                
                bodyModal.appendChild(div1);

                // DIV PROFESSORES
                const div = document.createElement('div');
                div.classList.add('col-sm-6', 'border', 'd-flex', 'justify-content-center', 'align-items-center',);
                const ul = document.createElement('ul');
                const h4 =document.createElement('h4');
                h4.innerText = 
                div.appendChild(ul);

                for(let data of response) {
                    if (data.nome) {
                        const li = document.createElement('li');
                        li.innerHTML =`
                            <li>
                                <span>${data.nome}</span>
                                <a class="btn btn-success p-1 m-1" href="https://wa.me/${data.telefone}" target="_blank"><i class="fa-brands fa-whatsapp"></i> Comunicar</a>
                            </li>
                        `;
                        ul.appendChild(li);
                    }
                    
                }
                bodyModal.appendChild(div);
            }
            pegaProfessores();
        });
    });

    const botaoExcluir = document.querySelectorAll('.btn-excluir').forEach((botao) => {
        botao.addEventListener('click', (e) => {
            e.preventDefault();

            const modalDiv = document.getElementById('modalExclusao');
            const modalExclusao = new bootstrap.Modal(modalDiv);
            modalExclusao.show();

            const botaoExclusao = document.getElementById('confirmarExclusao');
            if (botaoExclusao) {
                botaoExclusao.onclick = () => window.location.href = e.target.href;
            }
        });
    });
</script>
{% endblock %}
