{% extends "base.html" %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Gestão Escolar</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a href="{% url "movimentacoes:movimentacoes" %}" class="text-decoration-none">Movimentações</a></li>
    </ol>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-plus me-1"></i>
                    Registro de Movimentações
                </div>
                <div class="card-body">
                    <form name="form_movimentacoes" method="POST">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label for="tipo" class="form-label">Tipo de movimentação</label>
                                <div class="mb-4">
                                    <select class="form-select" id="tipo" name="tipo" onchange="verificaTipo()">
                                        {% for tipo, label in tipos_movimentacao %}
                                        <option value="{{tipo}}" {% if movimentacao.tipo == tipo %}selected{% endif %}>{{label}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="aluno" class="form-label">Aluno(a)</label>
                                <div class="mb-4">
                                    <select class="form-select" id="aluno" name="aluno">
                                        {% for aluno in alunos_movimentacao %}
                                        <option value="{{aluno.pk}}" {% if movimentacao.aluno.pk == aluno.pk %}selected{% endif %}>{{aluno}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label for="data" class="form-label">Data</label>
                                <div class="mb-4">
                                    <input class="form-control" type="date" id="data" name="data" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="origem" class="form-label">Origem</label>
                                <div class="mb-4">
                                    <select class="form-select" id="origem" name="origem">
                                        {% for sala in salas_movimentacao %}
                                        <option value="{{sala.pk}}" {% if movimentacao.sala.pk == sala.pk %}selected{% endif %}>{{sala}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="destino" class="form-label">Destino</label>
                                <div class="mb-4">
                                    <select class="form-select" id="destino" name="destino">
                                        {% for sala in salas_movimentacao %}
                                        <option value="{{sala.pk}}" {% if movimentacao.sala.pk == sala.pk %}selected{% endif %}>{{sala}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="mt-4 mb-0">
                            <div><button type="submit" class="btn btn-primary btn-block">Salvar dados</button></div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a>* Confira os campos necessários para salvar os dados</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Movimentações registradas
        </div>
        
        <div class="card-body">
            {% if movimentacoes %}
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Aluno</th>
                            <th>Data</th>
                            <th>Origem</th>
                            <th>Destino</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Tipo</th>
                            <th>Aluno</th>
                            <th>Data</th>
                            <th>Origem</th>
                            <th>Destino</th>
                            <th>Ações</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for movimentacao in movimentacoes %}
                        <tr>
                            <td>{{movimentacao.tipo}}</td>
                            <td>{{movimentacao.aluno}}</td>
                            <td>{{movimentacao.data}}</td>
                            <td>{% if movimentacao.origem %}{{movimentacao.origem}}{% else %}{{movimentacao.origem_input}}{% endif %}</td>
                            <td>{% if movimentacao.destino %}{{movimentacao.destino}}{% else %}{{movimentacao.destino_input}}{% endif %}</td>
                            <td>
                                <a href="" class="btn btn-sm btn-warning btn-block">Editar</a>
                                {% if user.is_superuser %}<a href="" class="btn btn-sm btn-danger btn-block">Excluir</a>{% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    let movimentacoes = [
        {% for m in movimentacoes %}
            {
                id: "{{m.pk}}",
                aluno:"{{m.aluno}}",
                aluno_id:"m.aluno.pk",
                origem_input:"{{m.origem_input}}",
                origem:"{{m.origem}}",
                destino_input:"{{m.destino_input}}",
                destino:"{{m.destino}}",
                tipo:"{{m.tipo}}",
                data:"{{m.data}}",
            },
        {% endfor %}
    ];

    let turmas = [
        {% for t in turmas %}
            {
                id:"{{t.pk}}",
                sala:"{{t.sala}}",
                aluno:"{{t.aluno}}",
                aluno_id:"{{t.aluno.pk}}",
                numero_aluno:"{{t.numero_aluno}}",
                status:"{{t.status}},"
            },
        {% endfor %}
    ];

    window.document.addEventListener('DOMContentLoaded', () => {
        verificaTipo();
    });

    function verificaTipo () {
        let tipo = document.forms['form_movimentacoes']['tipo'].value;
        let origem = document.getElementById('origem');
        let destino = document.getElementById('destino');
        let camposOrigem = document.querySelectorAll('#origem');
        let camposDestino = document.querySelectorAll('#destino');
        let parenteOrigem = origem.parentNode;
        let parenteDestino = destino.parentNode;
        let alunos = document.getElementById('aluno');
        
        function criaOption() {
            const option = document.createElement('option');
            option.value = '';
            option.id = 'selecione';
            option.innerText = 'Selecione um aluno(a)'
            alunos.appendChild(option);
            alunos.insertBefore(option, alunos.firstChild);
            option.selected = true;
            alunos.required = true;
        };

        if (document.querySelectorAll('#selecione').length < 1) {
            criaOption();
        }

        let criaInput = (parent, name) => {
            const input = document.createElement('input');
            input.setAttribute('name', name);
            input.setAttribute('id', name);
            input.setAttribute('class', 'form-control');
            input.setAttribute('type', 'text')
            parent.appendChild(input);
        }

        if (tipo == 'matricula') {
            for (let t of turmas) {
                for (let a of alunos) {
                    if (a.value == t.aluno_id) {
                        a.hidden = true;
                        a.disabled = true;
                    }
                }
            }

            for (let campo of camposOrigem) {
                if (campo.tagName === 'INPUT') {
                    campo.remove();
                }
            }

            for (let campo of camposDestino) {
                if (campo.tagName === 'INPUT') {
                    campo.remove();
                }
            }

            criaInput(parenteOrigem, 'origem');

            origem.hidden = true;
            origem.disabled = true;
            destino.removeAttribute('hidden');
            destino.removeAttribute('disabled')
        }
        
        if (tipo == 'remanejamento') {
            for (let a of alunos) {
                if (a.hasAttribute('hidden') || a.hasAttribute('disabled')) {
                    a.removeAttribute('hidden');
                    a.removeAttribute('disabled');
                }
            }
            for (let campo of camposOrigem) {
                if(campo.tagName == 'INPUT') {
                    campo.remove()
                }
            }
            for (let campo of camposDestino) {
                if(campo.tagName == 'INPUT') {
                    campo.remove()
                }
            }
            
            origem.removeAttribute('hidden');
            origem.removeAttribute('disabled');
            destino.removeAttribute('disabled');
            destino.removeAttribute('hidden');
        }

        if (tipo == 'transferencia') {
            for (let a of alunos) {
                if (a.hasAttribute('hidden') || a.hasAttribute('disabled')) {
                    a.removeAttribute('hidden');
                    a.removeAttribute('disabled');
                }
            }
            for (let campo of camposOrigem) {
                if(campo.tagName == 'INPUT') {
                    campo.remove()
                }
            }

            criaInput(parenteDestino, 'destino');
            
            destino.disabled = true;
            destino.hidden = true
            origem.removeAttribute('disabled');
            origem.removeAttribute('hidden');
        }
    }
    
</script>
{% endblock %}
