{% extends "base.html" %}
{% block title %}Movimentações{% endblock title %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Gestão Escolar</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a href="{% url "movimentacoes:movimentacoes" %}" class="text-decoration-none">Movimentações</a></li>
    </ol>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-plus me-1"></i>
                    Registro de Movimentações
                </div>
                <div class="card-body">
                    <a href="{% url "movimentacoes:matricula" %}" class="mb-2 btn btn-primary btn-block">Matrícula</a>
                    <a href="{% url "movimentacoes:remanejamento" %}" class="mb-2 btn btn-primary btn-block">Remanejamento</a>
                    <a href="{% url "movimentacoes:transferencia" %}" class="mb-2 btn btn-primary btn-block">Transferência</a>
                </div>
            </div>
        </div>
    </div>

    {% if movimentacoes %}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Movimentações registradas
        </div>
        
        <div class="card-body">
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Tipo</th>
                            <th>Aluno</th>
                            <th>Origem</th>
                            <th>Destino</th>
                            {% if user.is_superuser %}<th class="no-print">Ações</th>{% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for movimentacao in movimentacoes %}
                        <tr>
                            <td>{{movimentacao.data}}</td>
                            <td>{{movimentacao.tipo}}</td>
                            <td>{{movimentacao.aluno}}</td>
                            <td>{% if movimentacao.origem %}{{movimentacao.origem}}{% else %}{{movimentacao.origem_input}}{% endif %}</td>
                            <td>{% if movimentacao.destino %}{{movimentacao.destino}}{% else %}{{movimentacao.destino_input}}{% endif %}</td>
                            {% if user.is_superuser %}
                            <td class="no-print">
                                <button class="btn btn-sm btn-success btn-block btn-comunicar" data-id="{{movimentacao.pk}}">Comunicar professores</button>
                                <a href="{% url "movimentacoes:excluir-movimentacao" movimentacao.pk %}" class="btn btn-sm btn-danger btn-block btn-excluir">Excluir</a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<script>
    const botoesComunicar = document.querySelectorAll('.btn-comunicar').forEach((botao) => {
        botao.addEventListener('click', (e) => {
            const modal = document.getElementById('modalMovimentacao');
            const modalComunicar = new bootstrap.Modal(modal);
            modalComunicar.show();
            const bodyModal = document.getElementById('modalBody');
            const botaoImprimir = document.getElementById('imprimir-movimentacao');

            let elements = bodyModal.querySelectorAll('div');

            if (elements.length > 0) {
                elements.forEach((e) => {
                    e.remove();
                });
            }

            async function pegaProfessores() {
                let movimentacao = await fetch(`/movimentacoes/comunicar-movimentacao/?id=${botao.dataset.id}`);
                let response = await movimentacao.json();

                let dadoTipo;
                let dadoAluno;
                let dadoNascimento;
                let dadoTOrigem;
                let dadoDestino;
                let dadoData;

                // DIV DADOS MOVIMENTAÇÃO
                const div1 = document.createElement('div');
                div1.classList.add('col-sm-6');

                for (let data of response) {
                    if (data.tipo) {
                        dadoTipo = data.tipo;
                        const p = document.createElement('p');
                        p.classList.add('text-center');
                        p.innerHTML = `<h4>${data.tipo}</h4>`;
                        div1.appendChild(p);
                    }
                    if (data.aluno) {
                        dadoAluno = data.aluno;
                        const p = document.createElement('p');
                        p.innerHTML = `<strong>Aluno:</strong> ${data.aluno}`;
                        div1.appendChild(p);
                    }
                    if (data.nascimento) {
                        dadoNascimento = data.nascimento;
                        const p = document.createElement('p');
                        p.innerHTML = `<strong>Nascimento:</strong> ${data.nascimento}`;
                        div1.appendChild(p);
                    }
                    if (data.origem) {
                        dadoTOrigem = data.origem;
                        const p = document.createElement('p');
                        p.innerHTML = `<strong>Origem:</strong> ${data.origem}`;
                        div1.appendChild(p);
                    }
                    if (data.destino) {
                        dadoDestino = data.destino;
                        const p = document.createElement('p');
                        p.innerHTML = `<strong>Destino:</strong> ${data.destino}`;
                        div1.appendChild(p);
                    }
                    if (data.data) {
                        dadoData = data.data;
                        const p = document.createElement('p');
                        p.innerHTML = `<strong>Data:</strong> ${data.data}`;
                        div1.appendChild(p);
                    }
                }
                
                bodyModal.appendChild(div1);

                // DIV PROFESSORES
                const div = document.createElement('div');
                div.classList.add('col-sm-6', 'd-flex', 'justify-content-center', 'flex-column',);
                const ul = document.createElement('ul');
                ul.classList.add('list-group');
                const h4 =document.createElement('h4');
                h4.classList.add('text-center');
                div.appendChild(h4);
                div.appendChild(ul);

                for(let data of response) {
                    if (data.nome) {
                        const li = document.createElement('li');
                        const mensagem = encodeURIComponent(`
                        *EMEF Professora Helena de Castro pirágine*\n
                        *Novo(a) ${dadoTipo}*\n
                        *Aluno(a):* ${dadoAluno}\n
                        *Nascimento:* ${dadoNascimento}\n
                        *Origem:* ${dadoTOrigem}\n
                        *Destino:* ${dadoDestino}\n
                        *Data:* ${dadoData}
                        `);
                        li.classList.add('d-flex', 'justify-content-between', 'align-items-center', 'list-group-item')
                        li.innerHTML =`
                            <small>${data.nome}</small>
                            <a class="btn btn-success p-1 m-1" href="https://wa.me/${data.telefone}?text=${mensagem}" target="_blank"><i class="fa-brands fa-whatsapp"></i> Comunicar</a>
                        `;
                        h4.innerText = 'Professores';
                        ul.appendChild(li);
                    } else {
                        h4.innerText = "Sem professor atribuído !";
                    }
                }
                bodyModal.appendChild(div);

                botaoImprimir.onclick = () => {
                    const novaJanela = window.open('', '_blank');

                    let linha = document.createElement('tr');
                    let bodyProfessores = document.createElement('tbody');

                    for (let data of response) {
                        if (data.aluno) {
                            const coluna = document.createElement('td');
                            coluna.innerText = data.aluno;
                            linha.appendChild(coluna);
                        }
                        if (data.nascimento) {
                            const coluna = document.createElement('td');
                            coluna.innerText = data.nascimento;
                            linha.appendChild(coluna);
                        }
                        if (data.origem) {
                            const coluna = document.createElement('td');
                            coluna.innerText = data.origem;
                            linha.appendChild(coluna);
                        }
                        if (data.destino) {
                            const coluna = document.createElement('td');
                            coluna.innerText = data.destino;
                            linha.appendChild(coluna);
                        }
                        if (data.data) {
                            const coluna = document.createElement('td');
                            coluna.innerText = data.data;
                            linha.appendChild(coluna);
                        }
                        if (data.nome) {
                            const linhaP = document.createElement('tr');
                            const coluna = document.createElement('td');
                            coluna.innerText = data.nome;
                            linhaP.appendChild(coluna);
                            bodyProfessores.appendChild(linhaP);
                        }
                    }
                    linha = linha.outerHTML;
                    bodyProfessores = bodyProfessores.outerHTML;

                    novaJanela.document.write(`
                        <html>
                            <head>
                                <style>
                                    body {
                                        font-family: Arial, sans-serif;
                                        background: #f9f9f9;
                                        padding: 30px;
                                    }
                                    table {
                                        width: 100%;
                                        background: white;
                                        overflow: hidden;
                                        border-collapse: collapse;
                                    }
                                    thead {
                                        background: grey;
                                        color: white;
                                    }
                                    th, td {
                                        padding: 12px 16px;
                                        text-align: left;
                                        margin: 0;
                                        border: 1px solid black;
                                    }
                                    tr:hover {
                                        background: #e8f0ff;
                                    }
                                    h2 {
                                        text-align: center;
                                        background-color: black;
                                        color: white;
                                    }
                                </style>
                            </head>
                            <body>
                                <h2>${dadoTipo}</h2>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Aluno</th>
                                            <th>Nascimento</th>
                                            <th>Origem</th>
                                            <th>Destino</th>
                                            <th>Data</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        ${linha}
                                    </tbody>
                                </table>
                                <h2>Professores</h2>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                        </tr>
                                    </thead>
                                    ${bodyProfessores}
                                </table>
                            </body>
                        </html>
                    `);
                    novaJanela.document.close();
                    novaJanela.print();
                }
            }

            pegaProfessores();

        });
    });

    const botaoExcluir = document.querySelectorAll('.btn-excluir').forEach((botao) => {
        botao.addEventListener('click', (e) => {
            e.preventDefault();

            const modalDiv = document.getElementById('modalExclusao');
            const modalExclusao = new bootstrap.Modal(modalDiv);
            modalExclusao.show();

            const botaoExclusao = document.getElementById('confirmarExclusao');
            if (botaoExclusao) {
                botaoExclusao.onclick = () => window.location.href = e.target.href;
            }
        });
    });
</script>
{% endblock %}
