{% extends "base.html" %}
{% block title %}Turmas{% endblock title %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Gestão Escolar</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a href="{% url "movimentacoes:turmas" %}" class="text-decoration-none">Turmas</a></li>
    </ol>
    
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Turmas
        </div>

        <div class="card-body">
            <p>Total de alunos ativos na escola: {{total_alunos_ativos}}</p>
            <p>Total de alunos remanejados na escola: {{total_alunos_remanejados}}</p>
            <p>Total de alunos transferidos: {{total_alunos_transferidos}}</p>
        </div>
        
        <div class="card-body">
            {% if turmas %}
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Sala</th>
                            <th>Ativos</th>
                            <th>Remanejados</th>
                            <th>Transferidos</th>
                            <th>Inativos</th>
                            <th>Concluídos</th>
                            <th>Total Geral</th>
                            <th class="no-print">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for turma in turmas %}
                        <tr>
                            <td>{{turma}} - {{turma.ano}}</td>
                            <td>{{turma.ativos}}</td>
                            <td>{{turma.remanejados}}</td>
                            <td>{{turma.transferidos}}</td>
                            <td>{{turma.inativos}}</td>
                            <td>{{turma.concluidos}}</td>
                            <td>{{turma.total}}</td>
                            <td class="no-print">
                                <a href="{% url "movimentacoes:ficha-turma" turma.pk %}" class="btn btn-sm btn-success btn-block no-print"><small>Ver turma</small></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>

        {% if movimentacoes_turma and user.is_superuser%}
        <div class="card-body">
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Sala</th>
                            <th class="no-print">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mov in movimentacoes_turma %}
                        <tr>
                            <td>{{mov}}</td>
                            <td class="no-print">
                                <a href="{% url "movimentacoes:excluir-turma" mov.pk %}"  class="btn btn-sm btn-danger btn-block btn-excluir"><small>Excluir</small></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<script>
    const botoesExclusao = document.querySelectorAll('.btn-excluir');
    botoesExclusao.forEach((botao) => {
        botao.addEventListener('click', (e) => {
            e.preventDefault();

            const modalDiv = document.getElementById('modalExclusao');
            const exclusao = new bootstrap.Modal(modalDiv);
            exclusao.show();

            const botaoConfirmacao = document.getElementById('confirmarExclusao');
            if (botaoConfirmacao) {
                botaoConfirmacao.onclick = () => {
                    window.location.href = botao.href;
                };
            }
        });
    });
</script>
{% endblock %}
