{% extends "base.html" %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">{{sistema_nome}}</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Painel Administrativo</li>
    </ol>
    <div class="row">
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card">
                <div class="card-header">Cadastros</div>
                <div class="card-body">
                    <div class="d-flex align-items-center mb-4 p-1 bg-primary rounded shadow position-relative hover-primary">
                        <i class="fas fa-child text-light ms-2"></i>
                        <div class="vr text-white mx-2"></div>
                        <a class="text-light text-decoration-none flex-grow-1 stretched-link" href="{% url "cadastros:alunos" %}">
                            Alunos
                        </a>
                    </div>  
                
            
                    <div class="d-flex align-items-center mb-4 p-1 bg-primary rounded shadow position-relative hover-primary">
                        <i class="fas fa-scroll text-light ms-2"></i>
                        <div class="vr text-white mx-2"></div>
                        <a class="text-light text-decoration-none flex-grow-1 stretched-link" href="{% url "cadastros:disciplinas" %}">
                            Disciplinas
                        </a>
                    </div>

                    <div class="d-flex align-items-center mb-4 p-1 bg-primary rounded shadow position-relative hover-primary">
                        <i class="fas fa-person-chalkboard text-light ms-2"></i>
                        <div class="vr text-white mx-2"></div>
                        <a class="text-light text-decoration-none flex-grow-1 stretched-link" href="{% url "cadastros:professores" %}">
                            Professores
                        </a>
                    </div>

                    <div class="d-flex align-items-center mb-4 p-1 bg-primary rounded shadow position-relative hover-primary">
                        <i class="fas fa-people-roof text-light ms-2"></i>
                        <div class="vr text-white mx-2"></div>
                        <a class="text-light text-decoration-none flex-grow-1 stretched-link" href="{% url "cadastros:salas" %}">
                            Salas
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card">
                <div class="card-header">Gestão Escolar</div>
                <div class="card-body">
                    <div class="d-flex align-items-center mb-4 p-1 bg-warning rounded shadow position-relative hover-warning">
                        <i class="fas fa-down-left-and-up-right-to-center text-dark ms-2"></i>
                        <div class="vr text-dark mx-2"></div>
                        <a class="text-dark text-decoration-none flex-grow-1 stretched-link" href="{% url "movimentacoes:movimentacoes" %}">
                            Movimentações
                        </a>
                    </div>

                    <div class="d-flex align-items-center mb-4 p-1 bg-warning rounded shadow position-relative hover-warning">
                        <i class="fas fa-link text-dark ms-2"></i>
                        <div class="vr text-dark mx-2"></div>
                        <a class="text-dark text-decoration-none flex-grow-1 stretched-link" href="{% url "movimentacoes:atribuicoes" %}">
                            Atribuição dos Professores
                        </a>
                    </div>

                    <div class="d-flex align-items-center mb-4 p-1 bg-warning rounded shadow position-relative hover-warning">
                        <i class="fas fa-person-circle-minus text-dark ms-2"></i>
                        <div class="vr text-dark mx-2"></div>
                        <a class="text-dark text-decoration-none flex-grow-1 stretched-link" href="{% url "movimentacoes:faltas-professor" %}">
                            Faltas dos Professores
                        </a>
                    </div>

                    <div class="d-flex align-items-center mb-4 p-1 bg-warning rounded shadow position-relative hover-warning">
                        <i class="fas fa-people-group text-dark ms-2"></i>
                        <div class="vr text-dark mx-2"></div>
                        <a class="text-dark text-decoration-none flex-grow-1 stretched-link" href="{% url "movimentacoes:turmas" %}">
                            Turmas
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card">
                <div class="card-header">Configurações</div>
                <div class="card-body">
                    <div class="d-flex align-items-center mb-4 p-1 bg-success rounded shadow position-relative hover-success">
                        <i class="fas fa-gear text-light ms-2"></i>
                        <div class="vr text-white mx-2"></div>
                        <a class="text-light text-decoration-none flex-grow-1 stretched-link" href="{% url "core:sistema" %}">
                            Dados do sistema
                        </a>
                    </div>
                    <div class="d-flex align-items-center mb-4 p-1 bg-success rounded shadow position-relative hover-success">
                        <i class="fas fa-users text-light ms-2"></i>
                        <div class="vr text-white mx-2"></div>
                        <a class="text-light text-decoration-none flex-grow-1 stretched-link" href="{% url "usuarios:usuarios" %}">
                            Usuários
                        </a>
                    </div>
                </div>
            </div>
        </div>

            {% comment %} <div class="col-xl-3 col-md-6">
                <div class="d-flex flex-row align-items-center justify-content-center mb-4">
                    <a href="{% url "cadastros:alunos" %}" class="fs-4 w-100 h-100 btn btn-danger text-white text-center text-decoration-none">
                        <i class="fas fa-child mx-1"></i>
                        Alunos
                    </a>
                </div>
            </div> {% endcomment %}
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    Alunos ativos
                </div>
                <div class="card-body"><canvas id="graficosAlunosAtivosPorSala" width="100%" height="40"></canvas></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Status dos alunos
                </div>
                <div class="card-body"><canvas id="graficosStatusAlunos" width="100%" height="40"></canvas></div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Dados de atividades
        </div>
        {% if auditoria %}
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Ação</th>
                        <th>Data</th>
                        <th>Usuário</th>
                        <th>Atualizado por</th>
                        <th>IP</th>
                        <th>Informações</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Ação</th>
                        <th>Data</th>
                        <th>Usuário</th>
                        <th>Atualizado por</th>
                        <th>IP</th>
                        <th>Informações</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for acao in auditoria %}
                    <tr>
                        <td>{{acao.acao}}</td>
                        <td>{{acao.criado_em}}</td>
                        <td>{{acao.criado_por | default_if_none:""}}</td>
                        <td>{{acao.atualizado_por | default_if_none:""}}</td>
                        <td>{{acao.IP}}</td>
                        <td>{{acao.info}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>

<script>
    let graficoStatus = [];

    {% for estatistica in graficos_alunos %}
        graficoStatus.push({{estatistica|safe}});
    {% endfor %}

    let graficosAlunosAtivos = [];

    {% for estatistica in graficos_ativos_por_sala %}
        graficosAlunosAtivos.push({{estatistica|safe}});
    {% endfor %}
</script>
{% endblock %}
