<!DOCTYPE html>
<html lang="pt-br">
    {% include "partials/head.html" %}
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Registrar Conta</h3></div>
                                    <div class="card-body">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="nome" name="nome" type="text" value="{{nome}}" placeholder="Insira seu nome" />
                                                        <label for="nome">Nome</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control" id="sobrenome" name="sobrenome" value="{{sobrenome}}" type="text" placeholder="Insira seu sobrenome" />
                                                        <label for="sobrenome">Sobrenome</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="email" name="email" value="{{email}}" type="email" placeholder="nome@example.com" />
                                                <label for="email">Endereço de Email</label>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="senha" name="senha" type="password" placeholder="Crie sua senha" />
                                                        <label for="senha">Senha</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="confirmar-senha" name="confirmar-senha" type="password" placeholder="Confirme a senha" />
                                                        <label for="confirmar-senha">Confirmação de Senha</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Criar Conta</button></div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="{% url "core:entrar" %}">Já tem conta? Clique aqui para entrar!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                {% include "partials/footer.html" %}
            </div>
        </div>
        {% include "partials/scripts.html" %}
    </body>
</html>
