{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Configurações</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a href="{% url 'core:sistema' %}" class="text-decoration-none">Sistema</a></li>
    </ol>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-gear me-1"></i>
                     Dados do Sistema
                </div>
                <div class="card-body">
                    <form name="form-sistema" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="nome" class="form-label">Nome</label>
                                <div class="mb-3">
                                    <input class="form-control" id="nome" name="nome" type="text" value="{{sistema_nome}}" placeholder="Insira o nome do sistema" />
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label for="descricao" class="form-label">Descrição</label>
                                <div class=" mb-3">
                                    <textarea class="form-control" rows="5" id="descricao" name="descricao" value="{{sistema_descricao}}" placeholder="Insira aqui a descrição do sistema"></textarea>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="redefinir-senha" class="form-check-label">Redefinir senha</label>
                                <div class="mb-3">
                                    <input class="form-check-input" id="redefinir-senha" name="redefinir-senha" type="checkbox" {% if sistema_redefinir_senha %}checked{% endif %} placeholder="Insira o nome do sistema" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="nova-conta" class="form-check-label">Nova conta</label>
                                <div class="mb-3">
                                    <input class="form-check-input" id="nova-conta" name="nova-conta" type="checkbox"  {% if sistema_nova_conta %}checked{% endif %}  placeholder="Insira o nome do sistema" />
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mb-3">
                            <div class="col-md-4 mt-1">
                                <div class="border rounded d-flex justify-content-center"><img width="150px"sgae src="{% if sistema_logo.url %}{{sistema_logo.url}}{% else %}{% static "/assets/img/carimbo.png" %}{% endif %}" class="img-fluid" alt="Logotipo"></div>
                                <label for="logotipo" class="form-label">Logotipo</label>
                                <input class="form-control" id="logotipo" name="logotipo" type="file" />
                            </div>
                            <div class="col-md-4 mt-1">
                                <div class="border rounded d-flex justify-content-center"><img width="150px" src="{% if sistema_logo_municipio.url %}{{sistema_logo_municipio.url}}{% else %}{% static "/assets/img/jahu.png" %}{% endif %}" class="img-fluid" alt="Cabeçalho"></div>
                                <label for="logo-municipio" class="form-label">Logotipo Município</label>
                                <input class="form-control" id="logo-municipio" name="logo-municipio" type="file" />
                            </div>
                            <div class="col-md-4 mt-1">
                                <div class="border rounded d-flex justify-content-center"><img width="150px" src="{% if sistema_logo_educacao.url %}{{sistema_logo_educacao.url}}{% else %}{% static "/assets/img/educacao.png" %}{% endif %}" class="img-fluid" alt="Rodapé"></div>
                                <label for="logo-educacao" class="form-label">Logotipo Educação</label>
                                <input class="form-control" id="logo-educacao" name="logo-educacao" type="file" />
                            </div>
                        </div>
                        <div class="mt-4 mb-0">
                            <div><button type="submit" class="btn btn-primary btn-block">Salvar dados</button></div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a>* Confira os campos necessários para salvar os dados</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const form = document.forms['form-sistema'];

    if (form) {
        form.addEventListener('submit', (event) => {
            event.preventDefault();
            const modalConfirmacaoSistema = document.getElementById('modalConfirmacao');
            if (modalConfirmacaoSistema) {
                const modalConfirmacao = new bootstrap.Modal(modalConfirmacaoSistema);
                modalConfirmacao.show();

                const botaoConfirmacaoSistema = document.getElementById('confirmarSalvar');
                if (botaoConfirmacaoSistema) {
                    botaoConfirmacaoSistema.onclick = () => form.submit();
                }
            }
        });
    };
</script>
{% endblock %}
