{% extends "base.html" %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Configurações</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a href="{% url 'core:sistema' %}" class="text-decoration-none">Sistema</a></li>
    </ol>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-gear me-1"></i>
                     Dados do Sistema
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="nome" class="form-label">Nome</label>
                                <div class="mb-3 mb-md-0">
                                    <input class="form-control" id="nome" type="text" placeholder="Insira o nome do sistema" />
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="descricao" class="form-label">Descrição</label>
                                <div class=" mb-3 mb-md-0">
                                    <textarea class="form-control" rows="5" id="descricao" placeholder="Insira aqui a descrição do sistema"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="logotipo" class="form-label">Logotipo</label>
                                <input class="form-control" id="logotipo" name="logotipo" type="file" />
                            </div>
                            <div class="col-md-4">
                                <label for="cabecalho" class="form-label">Cabeçalho</label>
                                <input class="form-control" id="cabecalho" name="cabecalho" type="file" />
                            </div>
                            <div class="col-md-4">
                                <label for="rodape" class="form-label">Rodapé</label>
                                <input class="form-control" id="rodape" name="rodape" type="file" />
                            </div>
                        </div>
                        <div class="mt-4 mb-0">
                            <div><button type="submit" class="btn btn-primary btn-block">Salvar dados</button></div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a>* Confira os campos necessários para salvar os dados</a></div>
                </div>
            </div>
        </div>
    </div>

    {% comment %} <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-gears me-1"></i>
            Dados
        </div>
        
        <div class="card-body">
            
        </div>
    </div> {% endcomment %}
</div>
{% endblock %}
