<!DOCTYPE html>
<html lang="pt-br">
    {% include "partials/head.html" %}
    <body class="sb-nav-fixed">
        {% include "partials/nav.html" %}
        <div id="layoutSidenav">
            {% include "partials/sidenav.html" %}
            <div id="layoutSidenav_content">
                <main>
                    {% include 'partials/modals.html' %}
                    {% block content %}{% endblock %}
                </main>
                {% include "partials/footer.html" %}
            </div>
        </div>
        {% include "partials/scripts.html" %}
    </body>
</html>
