{% extends "base.html" %}

{% block content %}
<div class="container-fluid mb-4">
    <h1 class="mt-4">Usuários</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item mb-4"><a class="text-decoration-none" href="{% url 'usuarios:novo-usuario' %}">Novo Usuário</a></li>
        <li class="breadcrumb-item mb-4"><a href="{% url 'usuarios:usuarios' %}" class="text-decoration-none">Voltar</a></li>
    </ol>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-plus me-1"></i>
                    Novo Usuário
                </div>
                <div class="card-body">
                    <div class="row">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <div class="col-md-6 mb-3">
                                <label for="nome" class="form-label">Nome</label>
                                <div class="mb-3 mb-md-0">
                                    <input class="form-control" id="nome" name="nome" type="text" value="{{nome}}" placeholder="Insira o nome do usuário" />
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="sobrenome" class="form-label">Sobrenome</label>
                                <div class="mb-3 mb-md-0">
                                    <input class="form-control" id="sobrenome" name="sobrenome" type="text" value="{{sobrenome}}" placeholder="Insira o sobrenome do usuário" />
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="email" class="form-label">Endereço de E-mail</label>
                                <div class="mb-3 mb-md-0">
                                    <input class="form-control" id="email" name="email" type="email" value="{{email}}" placeholder="nome@exemplo.com" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="senha" class="form-label">Senha</label>
                                <div class="mb-3 mb-md-0">
                                    <input class="form-control" id="senha" name="senha" type="password" />
                                    {% if erro %}
                                    <p class="text-red">{{erro}}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="confirmar-senha" class="form-label">Confirmar Senha</label>
                                <div class="mb-3 mb-md-0">
                                    <input class="form-control" id="confirmar-senha" name="confirmar-senha" type="password" />
                                </div>
                            </div>
                            </div>
                            <div class="mt-4 mb-0">
                                <button type="submit" class="btn btn-primary btn-block">Salvar</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-footer text-center py-3">
                * Confira todos os campos antes de salvar para evitar erros de registro
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}